{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container-fluid py-2">
    <!-- Variation color tabs -->
    <ul class="nav nav-pills mb-3 overflow-auto flex-nowrap" id="pills-tab" role="tablist" style="white-space: nowrap;">
        {% for var_value in variations %}
            <li class="nav-item" role="presentation">
                <button class="nav-link text-uppercase px-3 pt-1 pb-0 w-100 {% if forloop.first %}active{% endif %}" 
                        id="pills-{{ forloop.counter }}-tab" 
                        data-bs-toggle="pill" 
                        data-bs-target="#pills-{{ forloop.counter }}" 
                        type="button" role="tab" 
                        aria-controls="pills-{{ forloop.counter }}" 
                        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                        >
                    
                    {% for v in var_value %}
                        {{v.1}}
                    {% endfor %}
                </button>
            </li>
        {% endfor %}
    </ul>
    <!-- Variation color tabs end -->
    
    <div class="tab-content" id="pills-tabContent">
        
        {% for var in variation_data %}
            <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" 
                id="pills-{{ forloop.counter }}"
                role="tabpanel" 
                aria-labelledby="pills-{{ forloop.counter }}-tab">

                <!-- Carousel for variation -->
                <div id="carousel-{{ forloop.counter }}" class="carousel slide" data-bs-theme="dark">
                    <div class="carousel-inner" >
                        {% for mediafile in var.data_files.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="d-flex justify-content-center">
                                    <img src="{{ mediafile.file.url }}" class="img-fluid" style="max-height: 500px;" alt="...">
                                </div>
                            </div>
                        {% empty %}
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-center">
                                    <img src="{{ product.image.url }}" class="img-fluid" style="max-height: 500px;" alt="...">
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ forloop.counter }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ forloop.counter }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Carousel for variation end -->

                <!-- Variation info -->
                <div class="container">
                     <p class="fs-5 text-uppercase">{{ product.name }}</p>
                     <p>Stock available: {{var.stock}}</p>

                        <ul class="list-group list-group-horizontal overflow-auto flex-nowrap">
                            {% for category in categories %}
                                <li class="list-group-item"><a href="#">{{category}}</a></li>
                            {% endfor %}
                        </ul>

                    {% bootstrap_messages %}
                     <a href="#" class="btn btn-success text-light mt-2" >Buy ${{var.price}}</a>
                     <a href="{% url "cart:manage" var.pk %}?action=add" class="btn btn-info text-light mt-2">Add to cart <i class="bi bi-bag-plus"></i></a>
                </div>
                 <!-- Variation info end -->
            </div>
        {% endfor %}

    </div>
</div>

<p>{{ product.description }}</p>


{% endblock content %}
